* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--background-color);
  color : var(--text-color);
}
:root {
  --primary-color:  #2d0042; 
  --secondary-color: #6c75ec;
  --background-color: #000000;
  --text-color: #f1f1f1;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.m-plus-1p-regular {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.m-plus-1p-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.m-plus-1p-black {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 30px;
  color: var(--text-color);
}
h6 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: var(--text-color);
  font-family: "M PLUS 1p", sans-serif;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  margin-top: 30px;
  margin-left: 30px;
  color: var(--text-color);
}
h3 {
  font-size: 1.3em;
  margin-bottom: 12px;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 50px;
  color: var(--text-color);
  font-weight: normal;
}
p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  color: var(--text-color);
  max-width: 1600px;
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0 20px;
  background-color: var(--background-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  z-index: 2;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 35px;
  list-style: none;
  text-decoration: none;
}

.banner-container {
    position: relative;   
    margin-top: -25px;    
    z-index: 1;           
    line-height: 0;
    height: 500px;
    overflow: hidden;    
}

#rdndo-banner {
    width: 100%;
    height: auto;
    display: block;
    height: 100%;
    object-fit: cover;
    display: block;
  }

.banner-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.0) 0%, var(--background-color) 100%);
}
/* source : https://codepen.io/edalgrin/pen/GRjZqXd */
.btn-shine { 
    flex-shrink: 0;
    margin-left: 100px;
    margin-right: 30px;
    z-index: 2;
    position: relative;
    padding: 16px 48px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background: var(--primary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-shine::before {
    text-decoration: none;
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid white;
    border-radius: 12px;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    opacity: 0;
    transform: scale(0.95);
    background-image: linear-gradient(
        -45deg,
        transparent 30%,
        rgba(255, 255, 255, 0.4),
        transparent 70%
    );
    background-size: 600%;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.btn-shine:hover{
    text-decoration: none;
}
.btn-shine:hover::before,
.btn-shine:focus::before {
    text-decoration: none;
    opacity: 1;
    transform: scale(1);
    animation-name: animation-shine;
}
.rightbtn {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}
.leftbtn {
    
}
@keyframes animation-shine {
    0% {
        background-position: 100%;
    }
    30% {
        background-position: 0%;
    }
    100% {
        background-position: 0%;
    }
}

@media (max-width: 768px) {
  .leftbtn {
    margin-left: 80px;
    margin-right: 0px
  }
.rightbtn {
    width: 100%;
    display: flex; 
    justify-content: center;
  }
  .btn-shine {
    margin-left: 0;
    margin-right: 0;
    }
  h1 {
        margin-top: 75px;
    }
  body {
        display: block;
        flex-direction: row;
  }
  header {
        width: 80px;
        height: 100%;
        flex-shrink: 0;
        border-radius: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        z-index: auto; 
    }
    nav h6 {
        writing-mode: vertical-rl; 
        text-orientation: mixed;
        margin: 0;
        font-size: 1.5rem;
    }
    .contenu-principal {
        flex-grow: 1;
        height: 100vh;
        overflow-y: auto;
    }
      .banner-container {
        flex-grow: 1;
        height: 100%;
        margin-top: 0; 
        z-index: auto;
        border-radius: 0;
    }
    .hero-mobile {
        display: flex;
        flex-direction: row;
        height: 350px;
    }
}
