.roboto-100 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: var(--background-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  z-index: 2;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 35px;
  list-style: none;
  text-decoration: none;
}

.banner-container {
  position: relative;
  margin-top: -25px;
  z-index: 1;
  line-height: 0;
  height: 500px;
  overflow: hidden;
}

#rdndo-banner {
  width: 100%;
  height: auto;
  display: block;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, var(--background-color) 100%);
}

.btn-shine {
  margin-left: 100px;
  margin-right: 30px;
}

.rightbtn {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.leftbtn {}

@media (max-width: 768px) {
  .leftbtn {
    margin-left: 80px;
    margin-right: 0px
  }

  .rightbtn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn-shine {
    margin-left: 0;
    margin-right: 0;
  }

  h1 {}


  body {
    display: block;
    flex-direction: row;
  }

  header {
    width: 80px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: auto;
  }

  nav h6 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
    font-size: 1.5rem;
  }

  .contenu-principal {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
  }

  .banner-container {
    flex-grow: 1;
    height: 100%;
    margin-top: 0;
    z-index: auto;
    border-radius: 0;
  }

  .hero-mobile {
    display: flex;
    flex-direction: row;
    height: 350px;
  }
}